
:root{
    --portfolio-purple: #6E53A1;
    --darker-purple: #382B50;
    --darker-purple-opacity: hsla(262, 23%, 30%, 0.76);
    --lighter-purple: #D5BFFF;
    --languid-lavender: #DCCDE8;
    --fiery-rose: #f45b69;
    --fiery-rose-opacity: #f45b68a1;
    --celadon-blue: #0081A7;
    --celadon-blue-opacity: #0080a7a7;
    --gold-crayola: #EFC88B;
    --lime-green: #6BD425;
    --dark-sea-green: #7FB285;
    --mantis: #7DC95E;
    --atomic-tangerine: #F49D6E;
    --atomic-tangerine-opacity: #f49d6ea1;
    --black: #252525;
    --light-black: #25252536;
    --no-opacity: #ffffff00;
    --white: #ffffff;
    --brown: #A57548;
    --blue: #82DDF0;
    --onyx: #3C3C3C;
   }
   




/* #grid-box{
    display: flex;
    justify-content: center;
    align-items: center;
} */

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--darker-purple);
    background-color: var(--atomic-tangerine);
    margin:0;
    /* background-color: whitesmoke; */
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    
}
img{
    width:100px;
    height: 100px;
}



h1{
    text-align: center;
    font-family: 'Bakbak One', sans-serif;
    color: var(--darker-purple)
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--darker-purple);
    text-align: center;
    font-size: 13pt;
}

h4{
    font-size: 16px;
    color: var(--darker-purple)
}

a{
    text-decoration: none;
    padding
}

img:hover{
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.hide{
    display: none;
}

.show{
    display: flex;
}

.title{
    font-size: 40pt;
    border: solid 4px var(--white);
    color: var(--white);
    
}

#story-title,
#game-title{
    font-size: 20pt;
    border: solid 4px var(--black);
    color: var(--black);
    background-color: var(--white);
    padding: 10px 32px;
    border-radius: 5px;
}

#story-title:hover,
#game-title:hover{
    /* transform: translateY(-15px); */
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    color: var(--white);
    background-color: var(--black);
    border: solid 2px var(--white);
    cursor: pointer;
}

/* ---------------------------------CONTENT CONTAINER STARTS  */
.content-container{
    margin: 30px 0px 40px; 
    width: 600px;
    height: 600px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--white);
}

 /* ---------------------- CONTENT CONTAINER ENDS  */

/* ----------------------------STORY CONTAINER --------------------------- */

.story-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 600px;
    background-color: var(--black);
    
}

.story-container div{
    background-color: var(--purple);
    width: 280px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 2px var(--white); */
    background-image: url('../img/book.png');
    
}




 /* ----------------------------STORY CONTAINER END --------------------------- */

/*---------------------------- GAME CONTAINER ------------------------------------- */
.game-container{
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 600px;
    background-color: var(--black);
}

.game-container div{
    background-color: var(--purple);
    width: 280px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 2px var(--white); */
    background-image: url('../img/game.png');
    
}

/*---------------------------- GAME CONTAINER END ------------------------------------- */



/*--------------------- LIBRARY STYLES ------------------------ */
.library-container{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: space-between;
}

.book{
    background-color: var(--celadon-blue);
    width: 50px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--white);
    border-radius: 5px;
    padding-bottom: 10px;
    background-image: url(../img/book-spine.PNG) ;
    background-size: cover;
   
}

.book:hover{
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#book-end{
    border-left: solid 3px var(--darker-purple);
    
}


 /*--------------------------- LIBRARY STYLES END ------------------------------- */


/*----------------------------------- FOOTER STARTS ------------------------ */
.services-about{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.services-about{
	display: block;
	justify-content: center;
	align-items: center;
	margin: 20px 0px;
	color: var(--palatinate-purple);
			
}

.services-about h3{
	margin: 40px 0px;
}

/* .services-about a{
	background-color: none;
	border: solid 1px var(--celadon-blue);
	border-radius: 20px;
	width: fit-content;
	padding: 10px 20px;
	text-decoration: none;
	color: var(--celadon-blue);
} */

.services-about a{
    color: white;
padding: 10px 20px;
border-radius: 20pt;
background: var(--fiery-rose);
 background: -moz-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
 background: -webkit-gradient(left bottom, right top, color-stop(0%, var(--fiery-rose)), color-stop(100%, var(--celadon-blue)));
 background: -webkit-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
 background: -o-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
 background: -ms-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
 background: linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
 background-size: 400% 400%;
 -webkit-animation: errorBg 55s ease infinite;
 -moz-animation: errorBg 55s ease infinite;
 animation: errorBg 55s ease infinite;
 height: 100vh;
 transition: 0.3s ease-in-out;
 text-decoration: none;
}



.services-about a:hover{
	background: var(--languid-lavender);
	border: solid 2px var(--languid-lavender);
    transition: 0.3s ease-in-out;
    color: var(--darker-purple);
    
}



footer{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 100px 0px 0px;
}




/* ---------------------------------------------------------- MOBILE STYLES ----------------------------------------------------------------------- */

@media screen and (max-width: 640px) {
	
	body{
		width: 100%;
        margin:0;
		/* height: auto; */
	} 
    #grid{
        width: 300px;
        height: auto;
        align-items: center;
        transform: scale(1.3);
        
    }

    main{
        flex-direction: row;
    }

    h1,
    h3{
        margin: 10px;
    }
    #grid-box{
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 45px 0px 0px;
    }

    .info-box{
        width: 300px;
        height: 390px;
    }

    img:hover{
        opacity: 1;
       transition: none;
    }

    .title{
        font-size: 20pt;
        border: solid 3px var(--white);
        color: var(--white);
        padding: 0px 3em;
        
    }

    #story-title,
    #game-title{
    font-size: 16pt;
    border: solid 2px var(--black);
    color: var(--black);
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}

/* ---------------------------------mobile CONTENT CONTAINER STARTS  */
.content-container{
    margin: 30px 0px 60px 0px; 
    width: 380px;
    height: 600px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--white);
}

 /* ---------------------- mobile CONTENT CONTAINER ENDS  */

/* ---------------------------- mobile STORY CONTAINER --------------------------- */

.story-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 600px;
    background-color: var(--black);
    
}

.story-container div{
    background-color: var(--purple);
    width: 170px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 2px var(--white); */
    background-image: url('../img/book.png');
    
}




 /* ---------------------------- mobile STORY CONTAINER END --------------------------- */

/*---------------------------- mobile GAME CONTAINER ------------------------------------- */
.game-container{
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 600px;
    background-color: var(--black);
}

.game-container div{
    background-color: var(--purple);
    width: 170px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 2px var(--white); */
    background-image: url('../img/game.png');
    
}

/*---------------------------- mobile GAME CONTAINER END ------------------------------------- */



/*--------------------- mobile LIBRARY STYLES ------------------------ */
.library-container{
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    justify-content: space-between;
}

.book{
    background-color: var(--celadon-blue);
    width: 50px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--white);
    border-radius: 5px;
    padding-bottom: 10px;
   
}

.book:hover{
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}



 /*--------------------------- mobile LIBRARY STYLES END ------------------------------- */

	.services-about{
		display: inline-block;
		text-align: center;
		justify-content: center;
		align-items: center;
		margin: 20px 0px;
		color: var(--palatinate-purple);

	}

	
	footer{
		margin: 30px 0px;
		padding-top: 60px;
	}
}
